<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./integration-tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./src</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./integration-tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
