<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./integration-tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">./src</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory suffix="Test.php">./integration-tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
